@using Helpdesk.Core.Dtos.Outputs
@model UserListDtoOut
@{
    ViewBag.Title = "Usuarios";
}

<div class="container">
    
    <div class="card">
        <div class="card-header">
            <h2>Buscar Usuarios</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-select" asp-items="ViewBag.ListProjects">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-select" asp-items="ViewBag.ListAgencies">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control"  placeholder="Nombre de la agencia"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary">
                    Buscar 
                </button>        
            </form>
        </div>
    </div>

    @* <div class="card mt-5">
        <div class="card-header">
            <h2>Lista de agencias</h2>
        </div>
        <div class="card-body">
            <p>
                @Html.ActionLink("Agregar nuevo", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListAgencies[0].Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListAgencies[0].AgencyTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListAgencies[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListAgencies[0].State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListAgencies[0].DateRegistration)
                    </th>
                    <th></th>
                </tr>
                <tbody>
                @foreach (var item in Model.ListAgencies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AgencyTypeName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegistration)
                        </td>
                        <td>
                            <a href="~/Agencies/Edit/@item.Id" class="btn btn-warning text-white">
                                <i class="fas fa-edit text-white"></i>
                                Editar
                            </a>

                            <a href="~/Agencies/Delete/@item.Id" class="btn btn-danger">
                                <i class="fas fa-eraser text-white"></i>
                                Borrar
                            </a>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div> *@
        <div class="card-footer">
            @{
                await Html.RenderPartialAsync("_Pager", Model);
            }
        </div>
    </div>
</div>