@using Helpdesk.Core.Dtos.Outputs
@model UserListDtoOut
@{
    ViewBag.Title = "Usuarios";
}

<div class="container">
    
    <div class="card">
        <div class="card-header">
            <h2>Buscar Usuarios</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group mb-3">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-select" asp-items="ViewBag.ListProjects">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-select" asp-items="ViewBag.ListAgencies">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control"  placeholder="Nombre de usuario"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="align-middle" data-feather="search"></i> 
                        <span class="align-middle">Buscar</span> 
                    </button>        
                </div>        
            </form>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <h2>Lista de usuario</h2>
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Create">
                    <i class="align-middle" data-feather="plus-circle"></i> 
                    <span class="align-middle">Agregar nuevo</span> 
                </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListUsers[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListUsers[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListUsers[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListUsers[0].DateRegistration)
                    </th>
                    <th></th>
                </tr>
                <tbody>
                @foreach (var item in Model.ListUsers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegistration)
                        </td>
                        <td>
                           <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white">
                                <i class="align-middle" data-feather="clipboard"></i> 
                                <span class="align-middle">Detalles</span>
                            </a>

                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white">
                                <i class="align-middle" data-feather="edit"></i> 
                                <span class="align-middle">Editar</span>
                            </a>

                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="align-middle" data-feather="delete"></i> 
                                <span class="align-middle">Borrar</span>
                            </a>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @* @{
                await Html.RenderPartialAsync("_Pager", Model);
            } *@
        </div>
    </div>
</div>