@model Helpdesk.Core.Dtos.Outputs.PagerDto
@{ 
    int pageLeft; 
    pageLeft = Model.PageCurrent - 1;

    int pageRigth; 
    pageRigth = Model.PageCurrent + 1;
}

<div class="row">
    <div class="col-6">
        <p class="text-infp">
            @Model.PageCurrent página de @Model.CountPage, @Model.TotalRecords registros totales
        </p>
    </div>
    <div class="col-6">
        <div class="btn-group me-2">
            @if (Model.PageCurrent == 1)
            {              
                <a asp-route-PageCurrent="1" class="btn btn-secondary disabled">
                    <i class="align-middle" data-feather="chevron-left"></i> 
                    <span class="align-middle">Anterior</span>
                </a>                
            }
            else
            {                
                <a asp-route-PageCurrent="@pageLeft" class="btn btn-secondary">
                    <i class="align-middle" data-feather="chevron-left"></i> 
                    <span class="align-middle">Anterior</span>                    
                </a>  
            }

            @if (Model.PageCurrent >= Model.CountPage)
            {
                <a asp-route-PageCurrent="1" class="btn btn-secondary disabled">
                    <span class="align-middle">Siguiente</span>
                    <i class="align-middle" data-feather="chevron-right"></i> 
                </a>  
            }
            else
            {                 
                 <a asp-route-PageCurrent="@pageRigth" class="btn btn-secondary">
                    <span class="align-middle">Siguiente</span>                    
                    <i class="align-middle" data-feather="chevron-right"></i> 
                </a> 
            }
        </div>
    </div>
</div>