@model Helpdesk.Core.Dtos.Outputs.AgencyDtoOut
@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3 class="text-danger">¿Desea borrar la agencia?</h3>
<div>
    <h4>Agencia</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgencyTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgencyTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @* <label>Anote motivo de borrado</label>
        <input asp-for="Notes" class="form-control" maxlength="255" required/> *@
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Agencies">
            Regresar
        </a>
    </form>
</div>