@model Helpdesk.Core.Dtos.Outputs.AgencyDtoOut
@{
    ViewData["Title"] = "Agencias";
}

<div class="mb-3">
	<h1 class="h3 d-inline align-middle">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
				<h5 class="card-title text-danger mb-0">Borrar agencia</h5>
			</div>
            <div class="card-body">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.AgencyType.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.AgencyType.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.DateRegistration)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DateRegistration)
                    </dd>        
                </dl>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @* <label>Anote motivo de borrado</label>
        <input asp-for="Notes" class="form-control" maxlength="255" required/> *@
        <button type="submit"  class="btn btn-danger mt-1" > 
            <i class="align-middle" data-feather="delete"></i> 
            <span class="align-middle">Borrar</span>  
        </button>|
        <a asp-action="Index" asp-controller="Agencies">
            Regresar
        </a>
    </form>
</div>