@model Helpdesk.Core.Dtos.Outputs.AgencyDtoOut

@{
    ViewBag.Title = "Agencias";
}
<h1 class="h3 mb-3">@ViewBag.Title</h1>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Detalle de la agencia</h5>
            </div>
            <div class="card-body">  
                <h6 class="text-info">Datos de la agencia</h6>
               <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd> 
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.AgencyType.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.AgencyType.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                    
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.DateRegistration)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DateRegistration)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
                <h6 class="text-info">Dirección de la agencia</h6>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Settlement)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Settlement)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.TownHall)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.TownHall)
                    </dd>
                    
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.State)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                </dl>
                <h6 class="text-info">Datos de contacto</h6>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
</div>

<div>    
    <a asp-action="Index">
        <i class="align-middle" data-feather="list"></i> 
        <span class="align-middle">Regresar a la lista</span>
    </a>
</div>