@using Helpdesk.Core.Dtos
@model DeviceListDto;
@{
    ViewBag.Title = "Dispositivos";
}

<div class="container">
    
    <div class="card">
        <div class="card-header">
            <h2>Buscar dispositivos</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group mb-3">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-select" asp-items="ViewBag.ListProjects">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-select" asp-items="ViewBag.ListAgencies">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"  placeholder="Nombre"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" class="form-control" placeholder="Número de serie"/>
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="align-middle" data-feather="search"></i> 
                        <span class="align-middle">Buscar</span> 
                    </button>        
                </div>

            </form>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <h2>Lista de dispositivos</h2>
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Create">
                    <i class="align-middle" data-feather="plus-circle"></i> 
                    <span class="align-middle">Agregar nuevo</span> 
                </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListDevices[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListDevices[0].SerialNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListDevices[0].DateStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListDevices[0].DateEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListDevices[0].DeviceStateName)
                    </th>
                    <th></th>
                </tr>
                <tbody>
                @foreach (var item in Model.ListDevices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>

                        <td>
                            @if(item.DateStart is not null){
                                @Html.DisplayFor(modelItem => item.DateStart)
                            }
                        </td>

                        <td>
                            @if(item.DateEnd is not null){
                                @Html.DisplayFor(modelItem => item.DateEnd)
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceStateName)
                        </td>
                        <td>
                            <a  asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white">
                                <i class="align-middle" data-feather="clipboard"></i> 
                                <span class="align-middle">Detalles</span>
                            </a>

                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white">
                                <i class="align-middle" data-feather="edit"></i> 
                                <span class="align-middle">Editar</span>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="align-middle" data-feather="delete"></i> 
                                <span class="align-middle">Borrar</span>
                            </a>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @{
                await Html.RenderPartialAsync("_Pager", Model);
            }
        </div>
    </div>
</div>